<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9020303e4f93fb2a4e46cb0cedd66995 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9020303e4f93fb2a4e46cb0cedd66995" ></div>
        
</body>
<script>
    
    
            var map_9020303e4f93fb2a4e46cb0cedd66995 = L.map(
                "map_9020303e4f93fb2a4e46cb0cedd66995",
                {
                    center: [54.187433, 45.183938],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_58af62f67429f7e3e062b37badbd940a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_58af62f67429f7e3e062b37badbd940a.addTo(map_9020303e4f93fb2a4e46cb0cedd66995);
        
    
            var marker_036e319cb2d2eadf5192a93d3bb9f158 = L.marker(
                [54.187433, 45.183938],
                {
}
            ).addTo(map_9020303e4f93fb2a4e46cb0cedd66995);
        
    
        var popup_51ad67e0ac04501414d85423db59a4db = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d98abf8a9c5ec909bd23f4ac103e6a1e = $(`<div id="html_d98abf8a9c5ec909bd23f4ac103e6a1e" style="width: 100.0%; height: 100.0%;">Саранск</div>`)[0];
                popup_51ad67e0ac04501414d85423db59a4db.setContent(html_d98abf8a9c5ec909bd23f4ac103e6a1e);
            
        

        marker_036e319cb2d2eadf5192a93d3bb9f158.bindPopup(popup_51ad67e0ac04501414d85423db59a4db)
        ;

        
    
    
            marker_036e319cb2d2eadf5192a93d3bb9f158.bindTooltip(
                `<div>
                     Саранск
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_f2277eab7b456e42bc544a603180defc = L.marker(
                [54.187433, 45.183938],
                {
}
            ).addTo(map_9020303e4f93fb2a4e46cb0cedd66995);
        
    
        var popup_4c5cce7ed3ff7bf76c4ba0a11cd02c00 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5fe5436c1aa3dab97b59f68924d85568 = $(`<div id="html_5fe5436c1aa3dab97b59f68924d85568" style="width: 100.0%; height: 100.0%;">Саранск<br>Температура: -3°C<br>Влажность: 86%</div>`)[0];
                popup_4c5cce7ed3ff7bf76c4ba0a11cd02c00.setContent(html_5fe5436c1aa3dab97b59f68924d85568);
            
        

        marker_f2277eab7b456e42bc544a603180defc.bindPopup(popup_4c5cce7ed3ff7bf76c4ba0a11cd02c00)
        ;

        
    
    
            marker_f2277eab7b456e42bc544a603180defc.bindTooltip(
                `<div>
                     Саранск
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0d1fa06347c6625d3ef678c35cc19e49 = L.marker(
                [56.852676, 53.2069],
                {
}
            ).addTo(map_9020303e4f93fb2a4e46cb0cedd66995);
        
    
        var popup_5b9f2cc700206e7fabcb61be7e9a41b1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1858005789fa30390cb743db75182351 = $(`<div id="html_1858005789fa30390cb743db75182351" style="width: 100.0%; height: 100.0%;">Ижевск<br>Температура: -4°C<br>Влажность: 86%</div>`)[0];
                popup_5b9f2cc700206e7fabcb61be7e9a41b1.setContent(html_1858005789fa30390cb743db75182351);
            
        

        marker_0d1fa06347c6625d3ef678c35cc19e49.bindPopup(popup_5b9f2cc700206e7fabcb61be7e9a41b1)
        ;

        
    
    
            marker_0d1fa06347c6625d3ef678c35cc19e49.bindTooltip(
                `<div>
                     Ижевск
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var poly_line_d3abeaaf29d20e21d6714b93771c2081 = L.polyline(
                [[54.187433, 45.183938], [56.852676, 53.2069]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_9020303e4f93fb2a4e46cb0cedd66995);
        
</script>
</html>