<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8ad2c979bbaf186b02ecdab25145210e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8ad2c979bbaf186b02ecdab25145210e" ></div>
        
</body>
<script>
    
    
            var map_8ad2c979bbaf186b02ecdab25145210e = L.map(
                "map_8ad2c979bbaf186b02ecdab25145210e",
                {
                    center: [55.755864, 37.617698],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_3e3c35b668804265211e84f11cebbea2 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_3e3c35b668804265211e84f11cebbea2.addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
    
            var marker_fba14a9b955cd5595155fe5f73527308 = L.marker(
                [55.755864, 37.617698],
                {
}
            ).addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
    
        var popup_53bfc025440ee5ad5c535e85835d3bcd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0061881333fb760685fcd1f93232c5ba = $(`<div id="html_0061881333fb760685fcd1f93232c5ba" style="width: 100.0%; height: 100.0%;">Москва</div>`)[0];
                popup_53bfc025440ee5ad5c535e85835d3bcd.setContent(html_0061881333fb760685fcd1f93232c5ba);
            
        

        marker_fba14a9b955cd5595155fe5f73527308.bindPopup(popup_53bfc025440ee5ad5c535e85835d3bcd)
        ;

        
    
    
            marker_fba14a9b955cd5595155fe5f73527308.bindTooltip(
                `<div>
                     Москва
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_95beda5c756945268a3657475e1fc2b6 = L.marker(
                [55.755864, 37.617698],
                {
}
            ).addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
    
        var popup_42848e6436d9a66f2707edf3f2975d08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2f576de9b282d2e027bd78924a96bcf9 = $(`<div id="html_2f576de9b282d2e027bd78924a96bcf9" style="width: 100.0%; height: 100.0%;">Москва<br>Температура: -2°C<br>Влажность: 83%</div>`)[0];
                popup_42848e6436d9a66f2707edf3f2975d08.setContent(html_2f576de9b282d2e027bd78924a96bcf9);
            
        

        marker_95beda5c756945268a3657475e1fc2b6.bindPopup(popup_42848e6436d9a66f2707edf3f2975d08)
        ;

        
    
    
            marker_95beda5c756945268a3657475e1fc2b6.bindTooltip(
                `<div>
                     Москва
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_394bc8c04b7ea97cae2eec993e15f4ab = L.marker(
                [56.852676, 53.2069],
                {
}
            ).addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
    
        var popup_55278a74de91a8a364839a6d7802e629 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_48ec617157e6ea4c881ab1557f89dbe8 = $(`<div id="html_48ec617157e6ea4c881ab1557f89dbe8" style="width: 100.0%; height: 100.0%;">Ижевск<br>Температура: 0°C<br>Влажность: 92%</div>`)[0];
                popup_55278a74de91a8a364839a6d7802e629.setContent(html_48ec617157e6ea4c881ab1557f89dbe8);
            
        

        marker_394bc8c04b7ea97cae2eec993e15f4ab.bindPopup(popup_55278a74de91a8a364839a6d7802e629)
        ;

        
    
    
            marker_394bc8c04b7ea97cae2eec993e15f4ab.bindTooltip(
                `<div>
                     Ижевск
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_03101b20328c3668aaeb1214824a943d = L.marker(
                [58.010455, 56.229443],
                {
}
            ).addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
    
        var popup_023ff29d379a4bad617a90c13eda9b35 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c3fad6434ad934d9a6f2f6f898ebb000 = $(`<div id="html_c3fad6434ad934d9a6f2f6f898ebb000" style="width: 100.0%; height: 100.0%;">Пермь<br>Температура: 0°C<br>Влажность: 84%</div>`)[0];
                popup_023ff29d379a4bad617a90c13eda9b35.setContent(html_c3fad6434ad934d9a6f2f6f898ebb000);
            
        

        marker_03101b20328c3668aaeb1214824a943d.bindPopup(popup_023ff29d379a4bad617a90c13eda9b35)
        ;

        
    
    
            marker_03101b20328c3668aaeb1214824a943d.bindTooltip(
                `<div>
                     Пермь
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var poly_line_9b8f0c56232f145ab1e6fd2aad1133bc = L.polyline(
                [[55.755864, 37.617698], [56.852676, 53.2069], [58.010455, 56.229443]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_8ad2c979bbaf186b02ecdab25145210e);
        
</script>
</html>